* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  margin: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  align-items: center;
  margin: 0px 15px;
  border-radius: 10px;
}

.logo_container > a > img {
  width: 100px;
}

.nav_items > ul {
  display: flex;
}

.nav_items > ul > li {
  list-style-type: none;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 20px;
}

.nav_items > ul > li > a {
  color: black;
  text-decoration: none;
}

.res_card {
  margin: 10px;
  width: 200px;
  min-height: 240px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.search_container {
  margin-bottom: 10px;
}

.res_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.res_card > img {
  display: flex;
  border-radius: 10px;
  margin: auto;
  width: 180px;
  height: 140px;
}

.res_card:hover {
  background-color: rgb(231, 227, 227);
}

.shimmer_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shimmer_card {
  margin: 10px;
  width: 200px;
  min-height: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.shimmer_card:hover {
  background-color: rgb(231, 227, 227);
}

.btnWidth > button {
  width: 50px;
}

.link_style {
  text-decoration: none;
  color: black;
}

.label_style {
  position: absolute;
  margin-left: 12px;
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 5px;
}

.res_menu {
  text-align: center;
}

.res_cat_sty {
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(179, 245, 245);
  width: 70%;
  margin: 7px auto;
}

.res_cat_sty_inside {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.res_cat_inside_span {
  font-weight: 800;
}

.item_list_sty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7px;
  margin: 5px 0px;
  border-radius: 10px;
  border: 2px solid black;
}

.catch_span {
  font-weight: 700;
  text-align: left;
}

.itemlist_img > img {
  width: 70px;
  height: 50px;
  border-radius: 10px;
}

.itemlist_testAlign {
  text-align: left;
}

.but_to_add {
  position: absolute;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 15px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.cart_hesding {
  text-align: center;
  margin: 10px 0px;
}

.cart_butt_sty {
  display: flex;
  justify-content: center;
}

.cart_butt {
  font-size: 20px;
  align-items: center;
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}
